/* global */

* {
    font-size: 24px;
    text-align: center;
}

/* header */

header {
    line-height: 50px;
}

.timeStyle {
    text-align: end;
}

/* section */

.quiz-space {
    line-height: 50px;
    
}

.rules {
    font-size: 30px;
}


section .quiz-space ul li {
    list-style: none;
}

.scoreboard {
    line-height: 80px;
}



